In [3]:
import numpy as np
import pandas as pd

In [21]:
#读取数据
DB = pd.read_csv("C:/Users/Administrator/Desktop/code/project_2/data/site_16topaucoutlinePmmImpData.csv").drop(columns ="Unnamed: 0",axis = 1 )
Feature_map = pd.read_excel("D:/实验室/数据/0909特征范围.xlsx")
Feature_map = Feature_map.drop(columns="no",axis = 1)

In [22]:
DB.columns

Index(['hospitalid', 'label', 'age', 'sex', 'race', 'bmi', 'heartrate',
       'respiration', 'LAB2', 'LAB3', 'LAB4', 'LAB5', 'LAB6', 'LAB7', 'LAB8',
       'LAB10', 'LAB11', 'LAB12', 'LAB14', 'LAB15', 'LAB16', 'LAB18', 'LAB19',
       'LAB20', 'LAB23', 'LAB24', 'LAB25', 'LAB27', 'LAB34', 'LAB35', 'LAB36',
       'LAB38', 'LAB39', 'LAB42', 'LAB43', 'LAB44', 'LAB46', 'LAB47', 'LAB48',
       'LAB50', 'LAB53', 'LAB54', 'LAB55', 'LAB56', 'LAB57', 'LAB59', 'COM1',
       'COM2', 'COM3', 'COM4', 'COM5', 'COM6', 'COM7', 'COM8', 'COM9', 'COM10',
       'COM11', 'PRO1', 'PRO2', 'PRO3', 'PRO4', 'PRO5', 'PRO6', 'PRO7', 'PRO8',
       'PRO9'],
      dtype='object')

In [23]:
DB_1 = DB.copy(deep = True)    
Discrete_name = ["age","bmi","SBP","DBP"]
Discrete_name = ["age","bmi","SBP","DBP"]
 
Discrete_index = [[16,25,35,45,55,65,75],[18.5,25,30],[120,140,150,160,180],[80,90,100,110]]
for Discrete,col in zip(Discrete_index,Discrete_name):
    Discrete_len = len(Discrete)+1
    if col in DB_1.columns:
        for i in range(Discrete_len):
            if i==0:
                DB_1.loc[DB[col]<Discrete[i],col]=i+1
            elif i<Discrete_len-1:
                DB_1.loc[(DB[col]>=Discrete[i-1])&(DB[col]<Discrete[i]),col]=i+1
            elif i==Discrete_len-1:
                DB_1.loc[DB[col]>=Discrete[i-1],col]=i+1
       
# Discrete_name_MF = ["rbc","ferritin","cpk","st2","hct","hgb"]
Discrete_name_MF = ["LAB6","LAB22","LAB26","LAB31","LAB43","LAB44"]
Discrete_index_MF = [([4.7,6.1],[4.2,5.4]),([12,300],[12,150]),([39,308],[26,192]),([86,49.3],[7.2,33.5]),([41,45],[36,38]),([13.2,17.2],[12.1,15.1])]
for col,index in zip(Discrete_name_MF,Discrete_index_MF):
    if col in DB_1.columns:
        for sex in range(1,3):
           
            DB_1.loc[(DB["sex"]==sex)&(DB[col]<index[sex-1][0]),col] = 1
            DB_1.loc[(DB["sex"]==sex)&(DB[col]>=index[sex-1][0])&(DB[col]<index[sex-1][1]),col] = 2
            DB_1.loc[(DB["sex"]==sex)&(DB[col]>=index[sex-1][1]),col] = 3

# drop_name = ["age","bmi","SBP","DBP","race","sex","rbc","ferritin","st2","hct","hgb","st1"]
drop_name = ["age","bmi","DBP","race","sex","LAB6","LAB22","LAB31","LAB43","LAB44","LAB30"]

for i in range(75):
    #获取特征名字
    name = Feature_map.iloc[i,1]
    #获取特征下界限
    if name in DB_1.columns:
        if name not in drop_name:

            low=Feature_map.iloc[i,2]
            up=Feature_map.iloc[i,3]

            DB_1.loc[DB[name]<low,name]=1
            DB_1.loc[(DB[name]>=low)&(DB[name]<up),name]=2
            DB_1.loc[DB[name]>=up,name]=3
# DB_1 = DB_1.astype(np.int8)
DB_1

,hospitalid,label,age,sex,race,bmi,heartrate,respiration,LAB2,LAB3,...,COM11,PRO1,PRO2,PRO3,PRO4,PRO5,PRO6,PRO7,PRO8,PRO9
0,420,0,6,1,1,3.0,2,3,3.0,2.0,...,1,0,0,0,0,0,0,0,0,0
1,420,0,7,1,1,3.0,2,2,3.0,2.0,...,0,0,0,0,0,0,0,0,0,0
2,420,0,7,1,1,2.0,2,3,3.0,3.0,...,0,0,0,0,0,0,0,0,0,0
3,420,0,6,2,1,4.0,2,3,1.0,3.0,...,1,0,0,0,0,0,0,0,0,0
4,420,0,7,1,1,4.0,2,3,2.0,2.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23893,382,0,8,2,1,4.0,2,3,2.0,3.0,...,1,0,0,0,0,0,0,0,0,0
23894,382,0,4,1,5,2.0,2,3,3.0,2.0,...,0,0,0,0,0,0,0,0,0,0
23895,382,1,3,1,1,3.0,2,3,1.0,2.0,...,0,0,0,0,1,0,0,0,1,0
23896,382,1,3,1,1,3.0,3,3,1.0,3.0,...,0,0,0,0,0,0,0,0,0,0
23897,382,0,8,1,1,2.0,1,3,2.0,2.0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
DB_1.astype(np.int16)

,hospitalid,label,age,sex,race,bmi,heartrate,respiration,LAB2,LAB3,...,COM11,PRO1,PRO2,PRO3,PRO4,PRO5,PRO6,PRO7,PRO8,PRO9
0,420,0,6,1,1,3,2,3,3,2,...,1,0,0,0,0,0,0,0,0,0
1,420,0,7,1,1,3,2,2,3,2,...,0,0,0,0,0,0,0,0,0,0
2,420,0,7,1,1,2,2,3,3,3,...,0,0,0,0,0,0,0,0,0,0
3,420,0,6,2,1,4,2,3,1,3,...,1,0,0,0,0,0,0,0,0,0
4,420,0,7,1,1,4,2,3,2,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23893,382,0,8,2,1,4,2,3,2,3,...,1,0,0,0,0,0,0,0,0,0
23894,382,0,4,1,5,2,2,3,3,2,...,0,0,0,0,0,0,0,0,0,0
23895,382,1,3,1,1,3,2,3,1,2,...,0,0,0,0,1,0,0,0,1,0
23896,382,1,3,1,1,3,3,3,1,3,...,0,0,0,0,0,0,0,0,0,0
23897,382,0,8,1,1,2,1,3,2,2,...,0,0,0,0,0,0,0,0,0,0

In [27]:
DB_1.to_csv("C:/Users/Administrator/Desktop/code/project_2/data/site_16topaucoutlinePmmImpData_dis.csv")